<div class="parent">
  <div class="container">
    <h1 class="company-name">Connectopia</h1>
    <h2>Create an account</h2>
    <form action="#" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required>
      <input type="submit" value="Sign Up">
    </form>
    <div class="extra-links">
      <a href="#" routerLink="/login" routerLinkActive="activelink" ariaCurrentWhenActive="page">Already have an account? Sign in</a>
    </div>
  </div>
</div>
