<div class="container">
  <!-- Navigation Section -->
  <div class="navigation-page">
    <h2>Navigation</h2>
    <button class="nav-btn" (click)="goToUserPage()">
      <i class="fas fa-user"></i> User
    </button>
    <button class="nav-btn" (click)="goToFriendsPage()">
      <i class="fas fa-users"></i> Friends
    </button>
    <button class="nav-btn" (click)="goToNotificationsPage()">
      <i class="fas fa-bell"></i> Notifications
    </button>
    <button class="nav-btn" (click)="goToNewsPage()">
      <i class="fas fa-newspaper"></i> News
    </button>
  </div>
  <!-- Main content -->
  <div class="main-content">
    <h2>Photos</h2>
    <div class="photos-grid">
      <div class="photo">
        <a href="#">
          <img src="https://img.goodfon.com/original/2880x1800/3/ac/dikaia-koshka-liubopytnaia-mordochka-vzgliad.jpg" alt="Photo">
        </a>
      </div>
      <div class="photo">
        <a href="#">
          <img src="https://w.forfun.com/fetch/ae/ae82a6bd873b3ce5f9165543b8e3ac97.jpeg" alt="Photo">
        </a>
      </div>
      <div class="photo">
        <a href="#">
          <img src="https://avatars.mds.yandex.net/i?id=22136a7a92569e478ac37c0bfd9895601769003f-11549492-images-thumbs&n=13" alt="Photo">
        </a>
      </div>
      <!-- Add more photos here -->
    </div>
  </div>
</div>
<footer>
  <p>CREATORS: ALUA SMANOVA | KUANYSHBEK ULPAN | ZHUMAGALI BOTA</p>
</footer>
<script src="https://kit.fontawesome.com/f7a61fa437.js" crossorigin="anonymous"></script>
